<footer class="py-4 bg-light fixed-bottom">
    <div class="container d-block px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; 2023</div>
            <div>
                <a href="#">Política de Privacidade</a>
                &middot;
                <a href="#">Termos &amp; Condições</a>
            </div>
        </div>
    </div>
</footer>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/projetoPOO/js/scripts.js"></script>
</body>
</html>